body {
	font-family: 'Space Grotesk', sans-serif;
	letter-spacing: 0px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	line-height: 1.5;
}
.logo {
	padding: 0px;
	width: 160px;
	height: 96px;
	background-color: #13F0A8;
}
/*.navbar-float {
	position: fixed;
	z-index: 100;
}*/
.navbar, .navbar-brand {
	padding: 0px;
	width: 100%;
}
.navbar-nav {
	margin-right: 2rem;
	font-size: 1.3rem;
	font-weight: 600;
}
.nav-link {
	padding-right:12px;
	padding-left:12px;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
	padding-right:12px;
	padding-left:12px;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #13F0A8;
}
h1 {
	font-weight: 700;
}
.hero {
	margin-top: 136px;
}
h1.hero {
	margin-top: 0px;
	margin-bottom: 2rem;
}
h4.hero {
	margin-top: 0px;
	font-weight: 400;
}
.link {
	font-weight: 600;
	font-size: 1.5rem;
	color: #13F0A8;
}
.btn-primary, .btn-secondary {
	width: 16rem;
	height: 4rem;
	margin: 10px;
	font-size: 1.5rem;
	font-weight: 600;
}
.btn-primary {
	color: #000;
	background-color: #13F0A8;
	border: none;
}
.btn-primary:hover {
	color: #13F0A8;
	background-color: #000;
}
.btn-secondary {
	color: #13F0A8;
	border: 3px solid #13F0A8;
	background-color: #fff;
}
.btn-secondary:hover {
	color: #000;
	background-color: #cccccc;
}
.case-studies {
	padding-top: 12rem;
	padding-bottom: 12rem;
}
.project-cover {
	margin-bottom: 1.5rem;
	height: 456px;
}
.section-link {
	margin-right: -30px;
	position: relative;
	top: 16px;
}